html, body {
  margin: 5px;
  padding: 0;
}
canvas {
  margin: 0 auto;
  display: block;
}

h1 {
  font-family: 'Bebas Neue';
  text-align: center;
  margin: 0;
}

h3 {
  font-family: 'Aargh';
  text-align: center;
}

p {
  font-family: 'Datalegreya';
  text-align: center;
}

div {
  padding: 2px;
}
